/* rules */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins' sans-serif;
}

p{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #6c757d;
}
/* navigation */
.nav-item.nav-link{
    color: white;
    padding-left: 30px;
}